
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>
	</head>
	<body>
    {{$variable := "test"}}
    {{$props := .}}
		<h1>Hello {{$props}}!</h1>	
        <h2>{{$variable}}</h2>
	</body>
</html>
