{{define "tableBody"}}
<tbody>
    {{range .}}
        <tr>
            <td>{{ .Date }}</td>
            <td>{{ .Open }}</td>
            <td>{{ .High }}</td>
            <td>{{ .Low }}</td>
            <td>{{ .Close }}</td>
            <td>{{ .Volume }}</td>
            <td>{{ .AdjClose}}</td>
        </tr>
    {{end}}
</tbody>
{{end}}