<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Form</title>
</head>

<body>
    <main>
        {{if .Method}}
        <p>
            The request method: {{.Method}}
        </p>
        {{end}} {{if .ContentLength}}
        <p>
            The content length: {{.ContentLength}}
        </p>
        {{end}} {{if .URL}} {{template "url" .URL}} {{end}} {{if .Header}} {{template "list" .Header}} {{end}}
        <p>
            <strong>Variable Names</strong> and
            <i>values</i>
        </p>
        {{template "list" .Submissions}}
    </main>

    {{template "form"}}
</body>

</html>